<ion-header>
  <ion-toolbar>
    <ion-title>
      Transmission App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button full class="submit-button" (click)="showPaired()">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices</ion-button>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-radio-group>
        <ion-item *ngFor="let i of pairedList; let j = index">
          <ion-label>{{i.name}}</ion-label>
          <ion-radio value="{{j}}" (ionSelect)="radioChange(j)"></ion-radio>
        </ion-item>
      </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-button full class="submit-button" *ngIf="listToggle" (click)="selectDevice()">
  <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth Devices
  </ion-button>
  <ion-list>
    <ion-item>
      <ion-input placeholder= "Insert Text" type="text" [(ngModel)]="dataSend" ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button full class="submit-button" (click)="sendData()">
    <ion-icon name="send"></ion-icon>&nbsp;Send
  </ion-button>
  <ion-button full class="submit-button" (click)="deviceDisconnected()">
    <ion-icon name="send"></ion-icon>&nbsp;Disconnect
  </ion-button>


  <ion-card>
      <ion-card-content *ngIf="cardToggle" (click)="refresh">
        Humidity: {{DataLine.humidity}}<br>Temperature: {{DataLine.temperature}}<br>CO: {{DataLine.co}}<br>CO2: {{DataLine.co2}}<br>NH4: {{DataLine.nh4}}<br>
        Ethanol: {{DataLine.eth}}<br>Toluene: {{DataLine.tol}}<br>Acetone: {{DataLine.ace}}<br>Time: {{DataLine.time}}<br>Date: {{DataLine.date}}
      </ion-card-content>
  </ion-card>
</ion-content>
